<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    {% load static %}

    <!-- 引入 Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- 引入外部CSS文件 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/product_list.css' %}"> 
    
    {% include 'Navigation_bar.html' %} <!-- 包含 home.html 模板 -->
</head>
<body>
    <h1>房屋列表</h1>
    {% for house in page_obj %}
    <div class="house-container">
        <img src="{% static 'images/houses/' %}{{ house.房屋圖片 }}" alt="{{ house.房屋名稱 }}" class="house-image">
        <div class="house-details">
            <!-- 房屋詳細信息 -->
            <div class="house-name">房屋地址:{{ house.房屋名稱 }}</div>
            <div class="house-address">房屋地址:{{ house.房屋地址 }}</div>
            <div class="house-type">房屋類型:{{ house.房屋類型 }}</div>
            <div class="house-layout">房屋格局:{{ house.房屋格局 }}</div>
            <div class="house-age">屋齡: {{ house.屋齡 }}年</div>
            <div class="house-area">總坪數: {{ house.總坪數 }}坪</div>
            <div class="house-price">總價: {{ house.總價 }}元</div>
            <div class="house-floor">樓層: {{ house.樓層 }}</div>
            <div class="house-description">{{ house.房屋描述 }}</div>
            <!-- 代理人詳細信息 -->
            <div class="agent-details">
                <div class="agent-name">代理人姓名: {{ house.代理人資訊.姓名 }}</div>
                <div class="agent-phone">電話: {{ house.代理人資訊.電話 }}</div>
                <div class="agent-email">Email: {{ house.代理人資訊.Email }}</div>
            </div>
        </div>
    </div>
    {% endfor %}

   <!-- 分頁連結 -->
   <ul class="pagination">
    {% if page_obj.has_previous %}
        <!-- 前往第一頁和前一頁的連結 -->
        <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
        <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
    {% endif %}
    <!-- 分頁數字連結 -->
    {% for num in page_obj.paginator.page_range %}
        <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
    {% endfor %}
    {% if page_obj.has_next %}
        <!-- 前往下一頁和最後一頁的連結 -->
        <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a></li>
    {% endif %}
   </ul>
</body>
</html>
